<div class="heading">
    <h1>Showing repositories belonging to: <b>{{ repositoryList[0].owner.login }}</b></h1>
</div>

<div class="content small">
    <div class="container">
        <input ng-keypress="updateOnEnter($event)" type="text" ng-model="selectedOwner" placeholder="Whos repositories?"/>
        <button ng-click="updateList()">refresh</button>
    </div>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th class="name">Repository name</th>
                    <th class="counter">Stars</th>
                    <th class="counter">Watchers</th>
                    <th class="counter">Forks</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repository in repositoryList | orderBy : '-stargazers_count'">
                    <td class="name"><a href="#/repositories/{{ repository.owner.login }}/{{ repository.name }}">{{repository.name}}</a></td>
                    <td class="counter">{{repository.stargazers_count}}</td>
                    <td class="counter">{{repository.watchers}}</td>
                    <td class="counter">{{repository.forks}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
