<div class="heading">
    <h1>Showing the repository: <b>{{ repository.name }}</b></h1>
</div>


<div class="content">
    <div class="container">
        <a href="/app/#/repositories">back to overview</a>
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th class="name">Repository name</th>
                    <th class="counter">Stars</th>
                    <th class="counter">Watchers</th>
                    <th class="counter">Forks</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="name">{{repository.name}}</td>
                    <td class="counter">{{repository.stargazers_count}}</td>
                    <td class="counter">{{repository.watchers}}</td>
                    <td class="counter">{{repository.forks}}</td>
                </tr>
                <tr>
                    <td colspan="4"><a href="{{repository.svn_url}}">{{repository.svn_url}}</a></td>
                </tr>
                <tr>
                    <td colspan="4">{{repository.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
<div>